body {
  margin: auto;
  background: #000;



}

#game {
  position: absolute;

  width: 100%; 
  height:100%;

  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
